<IfModule mod_rewrite.c>
RewriteEngine On
Options +FollowSymlinks
Options -Indexes
DirectoryIndex web/index.php
RewriteBase /
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ web/index.php [L,QSA]
</IfModule>